::-webkit-scrollbar {
    width: 10px;
    &-thumb {
        background-image: linear-gradient(to right bottom, 
        var(--color-primary-light), var(--color-primary-dark));
        border-radius: .6rem;
    }
    &-track {
        background-color: rgba(#000,.6);
    }
}

::selection{
    background-color: var(--color-primary);
    color: var(--color-white);
}
